.Loading {
    /* border: solid red 1px;
    min-width: 200px; */
    font-weight: 900;
}

.Loading::after {
    content: "";
    font-size: 2em;
    animation: dots 4s infinite;
    /* width: 30px !important; */
    min-width: 50px;
}

@keyframes dots {
    0% {
        content: "";
    }
    10% {
        content: ".";
    }
    20% {
        content: "..";
    }
    30% {
        content: "...";
    }
    40% {
        content: "....";
    }
    50% {
        content: ".....";
    }
    60% {
        content: "....";
    }
    70% {
        content: "...";
    }
    80% {
        content: "..";
    }
    90% {
        content: ".";
    }
    100% {
        content: "";
    }
}