@function if-important($important) {
    @return #{if($important, '!important', '')};
}

@mixin boxShadow($important: false, $size: 0x, $color:rgba(0, 0, 0, .4)) {
    box-shadow: inset 0px 0px 10px $size $color if-important($important);
}

.HomePage {
    padding: 5px;
    .random {
        margin-top: 10px;
        padding: 15px;
        @include boxShadow(false, 1px);
        border-radius: 5px;
        transition: box-shadow 1s;
        line-height: 2em;
        &:hover {
            @include boxShadow(true, 5px, green);
            &::before {
                content: "🤷‍♀️ ";
            }
        }
    }
}